# copy this file to .env.local or one of the other filenames below
# add the items below from your firebase console "Project Settings"
# https://console.firebase.google.com/

REACT_APP_APIKEY=
REACT_APP_AUTHDOMAIN=
REACT_APP_PROJECTID=
REACT_APP_STORAGEBUCKET=
REACT_APP_MSGSENDERID=
REACT_APP_APPID=

## Files on the left have more priority than files on the right:
# npm start:     .env.development.local, .env.local, .env.development, .env
# npm run build: .env.production.local, .env.local, .env.production, .env
# npm test:      .env.test.local, .env.test, .env (note .env.local is missing)

# These variables will act as the defaults if the machine does not explicitly set them.